/*Pre-load */


/* Pre-load is a overlay with the most upper part and when document finish running, Jacasvript will disable the display of this layer */

.hsbtn {
    height:487px;
    position: fixed;
    z-index: 1;
}

.spinner {
    width: 80px;
    /* Define the size */
    height: 80px;
    border: 2px solid #f3f3f3;
    /*Make it round */
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
    /*make it spin */
}

@keyframes
/*Animation */

spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#overlay {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999;
}

.glass {
    background-color: rgba(255, 255, 255, 0.7)
}

.box {
    top: 30%;
    bottom: 30%;
    left: 5%;
    position: absolute;
    padding: 1%;
}


/* Glass effect  */

.glass {
    color: black;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1%;
}

